* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-main {
    
    width: 100%;
    height: 100%;
    background-image: url('/icons/fondo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.icon-principal {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.perfil {
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 250px;
    padding: 20px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.perfil p {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil p:nth-child(1) {
    margin-bottom: 2px;

}


main {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 90px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: bold;
    font-weight: 700;
    box-shadow: 0 2px 4px 0 black;
}

.button-left {
    margin-right: 25px;
}

.button-right {
    margin-left:  25px;
}

